.back-button {
  transform-origin: top right;
  scale: 0.7;
  position: absolute;
  top: 0%;
  right: 1%;
  z-index: 100;
  }

  .guide-button{
    transform-origin: top right;
    scale: 0.85;
    position: absolute;
    top: 0.1%;
    right: 6%;
    z-index: 100;

  }

 
  #container {
    
  padding-top: 0px;
  max-width: 96%;
    height: 50%;
    
    text-align: center;

  
  
  }

  #bars {
    width: 80%;
    max-width: 90%;
    
    height: 310px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
  }

  .bar {
    width: 6%;
   
    margin: 0 1%;
    background-color: #777777;
    
   color: #777777;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: none;
    justify-content: center;

    transition: background-color 0.5s;
    /* Thêm hiệu ứng chuyển đổi màu nền */
  }

  .bar-with-image {
    
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 140px; /*Đổi kích cỡ của các thanh sách, thuộc tính cover chèn hình full thanh */

    
  }

  #controls {
    padding-top:  5px;
    margin: 0 auto;
    
    max-width: calc(95vw - 40px);
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    
  }

  #controls p {
    text-align: center;
  }

  #commentary {
    height: auto; /* Đặt chiều cao tự động để nó có thể thay đổi theo nội dung */
    max-width: 90%; /* Đặt chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa bằng cách sử dụng margin và giá trị 'auto' */
    text-align: center;
  }
  #time {
    height: 1px;
    width: 400px;
    color: aliceblue;
    text-align: center;
    font-size: 35px;
   
  }

  

  body:after {
    display: none;
    
    
  }

  body {
 
    background-image: url("/assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

 /* Thêm responsive design cho #imageContainer */
#imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Kích thước ban đầu của container */
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

#imageContainer img {
  width: 100%;
  height: auto;
}

/* Thêm responsive design cho hình ảnh khi hover */
img:hover {
  transform: scale(0.9); /* Phóng to 110% khi hover */
  transition: transform 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
}